###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../

# Point to where the `APP_CODE_PATH_HOST` should be in the container. You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_PATH_CONTAINER=/srv

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=../data
PG_DATA_PATH_HOST=../data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=172.17.0.1

### WORKSPACE ########################################

WORKSPACE_SSH_PORT=2221
WORKSPACE_NCPU=2
WORKSPACE_MEMORY=4096

### POSTGRES ########################################

PGDATABASE=gis
PGUSER=default
PGPASSWORD=secret
# TODO 5533
PGPORT=5432

### REDIS ########################################

REDIS_PORT=6379

### TEGOLA ########################################

TEGOLA_PORT=9090

### MAPUTNIK ########################################

MAPUTNIK_PORT=8888