###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../

# Point to where the `APP_CODE_PATH_HOST` should be in the container. You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_PATH_CONTAINER=/home/root

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=172.17.0.1

### WORKSPACE ########################################

WORKSPACE_SSH_PORT=2221

### POSTGRES ########################################

POSTGRES_DB=gis
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
POSTGRES_POPULATE_OSM_DATABASE=false
POSTGRES_RUN_QUERIES=true

### REDIS #################################################

REDIS_PORT=6379

### CASSANDRA #################################################

CASSANDRA_PORT=9042

### KARTOTHERIAN #################################################
KARTOTHERIAN_NPM_LINK=true
KARTOTHERIAN_NPM_TEST=true
KARTOTHERIAN_NPM_START=true
KARTOTHERIAN_LINK_PATH=/home/link
KARTOTHERIAN_SKIP_LINK_PATH=/home/link/skip